    * {
        margin:0;
        padding:0;
        }

    html, body {
        height:100%;
        }

    body {
        font-size: 100.01%/1.4;
        font-family: "DejaVu Sans", sans-serif;
        text-align:center; /* horizontal centering for IE Win quirks */
        }

    #distance {
        width:1px;
        height:50%;
        margin-bottom:-13.75em; /* half of container's height */
        float:left;
        }

    #container {
        margin:0 auto;
        position:relative; /* puts container in front of distance */
        text-align:left;
        height:27.5em;
        width:45em;
        clear:left;
        }

    #container > * {
        margin: 1.5em 0;
        text-align:center;
        }
